.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
}

.loader h2 {
    color: black;
    line-height: 2;
}

.loader_img {
    width: 10rem;
    height: 10rem;
    display: block;
}
