.card {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 0 auto 10rem;
}

.card_box {
    background-color: var(--shadow-light-color);
    padding: 1rem;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    cursor: pointer;
    transition: all .2s ease-in;
}

.card_box:hover {
    box-shadow: var(--box-shadow);
}

.card_box_update {
    grid-column: 1 / -1;
    grid-row: 1 / -2;
    z-index: 111;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 0;
    overflow: hidden;
}

.card_box_update_left {
    background-color: var(--icons-color);
    padding: .5rem 1rem;
    color: var(--main-bg-color);
    border-radius: 2rem;
    margin: 1rem;
}

.card_box_update_left_like {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: .5rem;
}

.card_box_update_right {
    background-color: var(--shadow-light-color);
    padding: .5rem 5rem;
    text-align: center;
    transform: skewX(45deg);
    border-bottom-left-radius: 1rem;
    margin-right: -2rem;
}

.card_box_update_right_info {
    transform: skewX(-45deg);
    background-color: var(--shadow-light-color);
}

.card_box_update_right_info p {
    font-size: 1.2rem;
    font-weight: 800;
}

.card_box_item {
    grid-column: 1 / -1;
    grid-row: 1 / end;
    overflow: hidden;
    border-radius: 1rem;
}

.card_box_item_img {
    width: 100%;
    height: 50vh;
}

.card_box:hover .card_box_item_img {
    transform: scale(1.05);
    border-radius: 1rem;
    border-radius: 1rem;
    transition: all .2s ease-in;
}

.card_box_update_details {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    line-height: 0;
    z-index: 111;
    align-items: flex-end;

    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
}

.card_box_update_details_price {
    background-color: var(--shadow-light-color);
    margin-left: -4rem;
    padding: 0 0 .5rem 0;
    transform: skewX(45deg);
    border-top-right-radius: 1rem;
    margin-bottom: -1px;
}

.card_box_update_details_price_box {
    transform: skewX(-45deg);
    padding-left: 4rem;
}

.card_box_update_details_price_box h4 {
    font-size: 1.3rem;
}

.card_box_update_details_price_box_box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card_box_update_details_price_box_bid {
    border: 1px solid var(--icons-color);
    padding: .2rem .8rem;
    align-items: center;
    border-radius: .3rem;
}

.card_box_update_details_price_box_bid small {
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: .2rem;
    padding: .2rem;
}

.card_box_update_details_price_box_bid p {
    font-weight: 600;
    font-size: 20px;
    margin-left: 3.5vw;
}

.card_box_update_details_category {
    color: var(--icons-color);
    text-align: end;
    margin: 1.5rem;
    font-size: 1.5rem;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .card_box_item_img {
        height: 30rem;
    }

    .card_box_update_details_price_box h4 {
        font-size: 1.2rem;
    }

    .card_box_update_details_price_box_bid p {
        margin-left: 1vw;
        margin-bottom: .5rem;
    }

    .card_box_update_right {
        padding: .5rem 3rem;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .card {
        grid-template-columns: 1fr;
    }

    .card_box_item_img {
        height: 25rem;
    }

    .card_box_update_right {
        padding: .5rem 1rem;
        margin-right: -1rem;
    }

    .card_box_update_right_info p {
        font-size: .8rem;
    }

    .card_box_update_details_price_box h4 {
        font-size: 1rem;
    }

    .card_box_update_details_price_box_bid {
        padding: .2rem .5rem;
    }

    .card_box_update_details_price_box_bid p {
        font-size: 1.1rem;
    }
}

.card_filter {
    padding: 4rem 0;
    width: 100%;
}

.card_filter_box {
    width: 80%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4rem;
    flex-wrap: wrap;
}

.card_filter_box_left {
    display: flex;
    gap: 2rem;
}

.card_filter_box_left button {
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: 1px solid var(--main-bg-color);
    transition: all .2s ease-in;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: var(--shadow-dark-color);
}

.card_filter_box_left button:hover
{
    border: 1px solid var(--icons-color);
    color: var(--icons-color);
    box-shadow: var(--box-shadow);
}

.card_filter_box_left .active {
    border: 1px solid var(--icons-color);
    color: var(--icons-color);
    box-shadow: var(--box-shadow);
    background-color: var(--shadow-light-color);
}

.card_filter_box_right_box {
    border: 1px solid var(--icons-color);
    padding: 1rem 2rem;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card_filter_box_items {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 2rem 0;
    border-top: 1px solid var(--shadow-dark-color);
}

.card_filter_box_items_box {
    padding: 1rem;
}

.card_filter_box_items_box_item {
    background-color: var(--icons-color);
    padding: .5rem 1rem;
    border-radius: 2rem;
    color: var(--main-bg-color);
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: .5rem
}

.card_filter_box_items_box_item_trans {
    border: 1px solid var(--icons-color);
    color: var(--icons-color);
    padding: .5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: .5rem;
}

.card_filter_box_items_box_item_trans:hover {
    background-color: var(--shadow-dark-color);
}

.filter_btn_active {
    box-shadow: var(--box-shadow);
    background-color: var(--shadow-dark-color);
}

@media screen and (min-device-width: 426px) and (max-device-width: 768px) {
    .card_filter_box_left {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card_filter_box_left button {
        padding: 1rem;
    }

    .card_filter_box_items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card_filter_box_right_box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        padding-inline: 2rem;
    }

    .card_filter_box_items_box_item {
        justify-content: space-between;
    }

    .card_filter_box_items_box_item_trans {
        justify-content: space-between;
    }
}

@media screen and (min-device-width: 376px) and (max-device-width: 425px) {
    .card_filter_box {
        display: grid;
        gap: 4rem;
    }

    .card_filter_box_left {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card_filter_box_left button {
        padding: 1rem;
    }

    .card_filter_box_items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card_filter_box_right_box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        padding-inline: 2rem;
    }

    .card_filter_box_items_box_item {
        justify-content: space-between;
    }

    .card_filter_box_items_box_item_trans {
        justify-content: space-between;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .card_filter_box {
        display: grid;
        gap: 4rem;
    }

    .card_filter_box_left {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .card_filter_box_left button {
        padding: .2rem;
    }

    .card_filter_box_items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card_filter_box_right_box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        padding-inline: 2rem;
    }

    .card_filter_box_items_box_item {
        justify-content: space-between;
    }

    .card_filter_box_items_box_item_trans {
        justify-content: space-between;
    }
}