.discover {
    padding: .5rem 1rem;
    transition: all .2s ease-out;
    z-index: 222;
}

.discover:hover {
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    border-radius: 3rem;
}