.navbar {
    width: 100%;
    padding-block: 1.5rem;
    position: relative;
    z-index: 100;
}

.navbar_container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

/*  LEFT */
.navbar_container_left {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.navbar_container_left_box_input {
    width: 60%;
    border: 1px solid var(--icons-color);
    display: flex;
    align-items: center;
    padding: .5rem;
    border-radius: 2rem;
}

.navbar_container_left_box_input_box {
    display: flex;
    width: 100%;
}

.navbar_container_left_box_input_box input {
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
}

.search_icon {
    cursor: pointer;
    font-size: 1.4rem;
}

/* RIGHT */
.navbar_container_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.navbar_container_right_discover {
    position: relative;
    cursor: pointer;
    font-weight: 600;
}

.navbar_container_right_discover:hover .navbar_container_right_discover_box {
    display: block;
}

.navbar_container_right_help {
    position: relative;
    cursor: pointer;
    font-weight: 600;
}

.navbar_container_right_help:hover .navbar_container_right_help_box {
    display: block;
}

.navbar_container_right_help>p,
.navbar_container_right_discover>p {
    text-align: center;
}

.navbar_container_right_discover_box,
.navbar_container_right_help_box {
    position: absolute;
    padding: 1rem .5rem;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    width: 15rem;
    border-radius: 1rem;
    background-color: var(--main-bg-color);
    font-weight: 400;
    transition: all .1s;
    display: none;
}

.navbar_container_right_notify {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.notify {
    font-size: 2rem;
}

.navbar_container_right_button {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.navbar_container_theme_button {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.navbar_container_right_profile_box {
    position: relative;
    cursor: pointer;
    font-weight: 400;
}

.navbar_container_right_profile {
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.navbar_container_right_menuBtn {
    display: none;
}

.menuIcon {
    font-size: 2.5rem;
    cursor: pointer;
}

/* SIDEBAR */
.sideBar {
    position: fixed;
    top: 0;
    width: 24rem;
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    height: 100vh;
    overflow-y: auto;
    display: none;
    z-index: 999;
}

.sideBar::-webkit-scrollbar {
    display: none;
}

.navbar_container_theme_button_checkbox,
.navbar_container_theme_button_sideBar_checkbox {
    width: 0;
    height: 0;
    visibility: hidden;
}

.navbar_container_theme_button_checkbox:checked+label,
.navbar_container_theme_button_sideBar_checkbox:checked+label {
    background: #242424;
}

.navbar_container_theme_button_checkbox:checked+label::after,
.navbar_container_theme_button_sideBar_checkbox:checked+label::after {
    left: 64px;
    transform: translateX(-100%);
    background-color: var(--main-bg-color);
}

.navbar_container_theme_button_label,
.navbar_container_theme_button_sideBar_label {
    width: 5rem;
    height: 2.5rem;
    position: relative;
    display: block;
    background-color: #ebebeb;
    border-radius: 200px;
    cursor: pointer;
    transition: all .2s linear;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, .4), inset 0px -5px 15px rgba(255, 255, 255, .4);
}

.navbar_container_theme_button_label::after,
.navbar_container_theme_button_sideBar_label::after {
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 6px;
    left: 8px;
    background-color: var(--icons-color);
    border-radius: 180px;
    transition: all .2s linear;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
}

.navbar_container_theme_button_light,
.navbar_container_theme_button_sideBar_light,
.navbar_container_theme_button_dark,
.navbar_container_theme_button_sideBar_dark {
    position: absolute;
    width: 120px;
    top: 10px;
    z-index: 100;
}

.navbar_container_theme_button_light,
.navbar_container_theme_button_sideBar_light {
    left: -8px;
    color: #555;
    transition: all .2s linear;
}

.navbar_container_theme_button_dark,
.navbar_container_theme_button_sideBar_dark {
    left: -39px;
    color: #fff;
    transition: all .2s linear;
}

.navbar_container_theme_button_sideBar {
    margin-left: 2rem;
}

@media screen and (min-device-width: 950px) and (max-device-width: 1305px) {
    .navbar_container {
        width: 95%;
        grid-template-columns: 0.8fr 1fr;
    }

    .navbar_container_left_box_input {
        width: 80%;
    }

    .navbar_container_right {
        gap: .5rem;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 950px) {
    .navbar_container {
        width: 95%;
        grid-template-columns: 0.65fr 1fr;
    }

    .navbar_container_left_box_input {
        width: 90%;
    }

    .navbar_container_right {
        gap: .5rem;
        grid-template-columns: .5fr 1fr .1fr 1fr .3fr;
    }
}

@media screen and (min-device-width: 540px) and (max-device-width: 768px) {
    .navbar_container {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    .navbar_container_left {
        grid-template-columns: 1fr;
    }

    .navbar_container_right {
        grid-template-columns: repeat(3, 1fr);
    }

    .navbar_container_right_button {
        display: none;
    }

    .navbar_container_right_menuBtn,
    .navbar_container_right_notify,
    .navbar_container_right_profile {
        display: block;
        display: flex;
        justify-content: flex-end;
    }

    .navbar_container_left_box_input {
        display: none;
    }

    .navbar_container_right_discover {
        display: none;
    }

    .navbar_container_right_help {
        display: none;
    }

    .sideBar {
        display: block;
    }

    .navbar_container_theme_button_sideBar {
        display: none;
    }
}


@media screen and (min-device-width: 320px) and (max-device-width: 540px) {
    .navbar_container {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    .navbar_container_left {
        grid-template-columns: 1fr;
    }

    .navbar_container_right {
        grid-template-columns: repeat(3, 1fr);
    }

    .navbar_container_right_button {
        display: none;
    }

    .navbar_container_right_menuBtn,
    .navbar_container_right_notify,
    .navbar_container_right_profile {
        display: block;
        display: flex;
        justify-content: flex-end;
    }

    .navbar_container_left_box_input {
        display: none;
    }

    .navbar_container_right_discover {
        display: none;
    }

    .navbar_container_right_help {
        display: none;
    }

    .sideBar {
        display: block;
    }

    .navbar_container_theme_button {
        display: none;
    }
}