
.profile_account {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
}

.profile_account_img {
    border-radius: 50%;
}

.profile_account_info p {
    font-weight: 700;
    margin: 0;
    font-size: 20px;
}

.profile_menu_one_item {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0rem 1.5rem;
    transition: all .2s ease-in;
}

.profile_menu_one_item:hover {
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    border-radius: .3rem;
}

@media screen and (max-width: 35em){
    .profile {
        width: 18rem;
        left: -11.5rem;
    }
}