.authorTaps {
    width: 100%;
    margin: 8rem 0 3rem 0;
}

.authorTaps_box {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.authorTaps_box_left_btn {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.authorTaps_box_left_btn button {
    border: 1px solid var(--icons-color);
    outline: 0;
    background-color: var(--main-bg-color);
    font-size: 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .2s ease-in;
    color: var(--icons-color);
    padding: .5rem 1rem;
}

.authorTaps_box_left_btn button:hover {
    background-color: var(--icons-color);
    color: var(--main-bg-color);
}

.authorTaps_box_left_btn .active {
    border: 1px solid var(--icons-color);
    background-color: var(--icons-color);
    color: var(--main-bg-color);
}

.authorTaps_box_right {
    position: relative;
}

.authorTaps_box_right_para {
    border: 1px solid var(--icons-color);
    border-radius: 2rem;
    width: 17.5rem;
    padding: 0 2rem;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.authorTaps_box_right_para p {
    font-size: 1.2rem;
    line-height: .5;
}

.authorTaps_box_right_list {
    background-color: var(--main-bg-color);
    padding: 1rem;
    width: 16rem;
    left: 1rem;
    position: absolute;
    z-index: 999;
    border-radius: 1rem;
    margin-top: 1.5rem;
    box-shadow: var(--box-shadow);  
}

.authorTaps_box_right_list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0;
    padding-right: 1rem;
}

.authorTaps_box_right_list_item p {
    transition: all .2s ease-in;
    padding: 0 1rem;
    line-height: 1;
    cursor: pointer;
}

.authorTaps_box_right_list_item:hover {
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: .2rem;
}

@media screen and (max-width: 35em) {
    .authorTaps {
        margin: 3rem 0 3rem 0;
    }

    .authorTaps_box {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .authorTaps_box_left_btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 2rem 1rem;
        border-radius: 1rem;
    }

    .authorTaps_box_right {
        margin-top: 2rem;
    }

    .authorTaps_box_right_para {
        width: 100%;
    }

    .authorTaps_box_right_list {
        left: 0;
        width: 100%;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width:  1024px) {
    .authorTaps_box {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .authorTaps_box_right_list {
        left: 65%;
    }

    .authorTaps_box_right_para {
        width: 35%;
        margin-left: 62%;
    }
}