.video {
    width: 100%;
    margin: 5rem auto;
}

.video_box {
    width: 80%;
    margin: 0 auto;
}
.video_box h1 {
    font-size: 3rem;
    width: 50%;
    line-height: 1.2;
}

.video_box p{
    font-size: 1.5rem;
    width: 50%;
    line-height: 1.2;
}

.video_box_frame {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 1rem;
    padding: 5rem;
    margin-top: 6rem;
}

.video_box_frame_left {
    grid-column: 1 / 8;
    grid-row: 1 / -1;
    z-index: 9999;
}

.video_box_frame_left_img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

.video_box_frame_right {
    grid-column: 3 / -1;
    background-color: var(--icons-color);
    border-radius: 1rem;
    grid-row: 1 / -1;
    padding: 3rem 0;
    margin-top: -5rem;
    box-shadow: var(--box-shadow);
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .video_box p {
        width: 70%;
    }
}

@media screen and (min-width: 35rem) and (max-width: 768px) {
    .video_box p {
        width: 80%;
    }
}

@media screen and (max-width: 35rem){
    .video_box {
        width: 90%;
    }
    .video_box_frame {
        padding: 0;
    }
    .video_box_frame_right {
        margin-top: -2rem;
    }
    .video_box p {
        width: 100%;
        font-size: 1rem;
    }
    .video_box h1 {
        font-size: 2rem;
        width: 100%;
    }
}